@model goatCode.Models.ViewModels.NewFileViewModel

@{
    ViewBag.Title = "Create";
}

<h2><br>Create a new file</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4> <br> </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">               
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.extension, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.extension, (SelectList)ViewBag.Extensions, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.extension, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to list", "Index", new { projectId = Model.ProjectId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<div id="containers">
    <p> </p>
</div>
<style>
    #containers {
        width: 100%;
        height: 300px;
        overflow-y: auto;
    }
</style>