@model goatCode.Models.ViewModels.FileViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<p>
    @Html.ActionLink("Add New File", "AddNewFile", new { projectId = Model.projectId })
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.lst)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { projectId = item.id }) |
                @Html.ActionLink("DownloadFile", "DownloadFile", new { fileId = item.id }) |
                @Html.ActionLink("RemoveFile", "RemoveFile", new { id = item.id })
            </td>
        </tr>
    }

</table>
