@model goatCode.Models.ViewModels.ProjectIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2><br />Files</h2>
<p>
    @Html.ActionLink("Create a new file", "Create", new { ProjectId = Model.projectId })
</p>
<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.files) {
    <tr>
        <td>
            @(Html.DisplayFor(modelItem => item.name) + "." + Html.DisplayFor(modelItem => item.extension))
        </td>
        <td>

            @Html.ActionLink(" ", "Edit", new { FileId = item.ID }, new { @class = "glyphicon glyphicon-edit" }) |
            @Html.ActionLink(" ", "DownloadFile", new { fileId = item.ID }, new { @class = "glyphicon glyphicon-download-alt" }) |
            @Html.ActionLink(" ", "UpdateFileName", new { fileid = item.ID, projectId = Model.projectId }, new { @class = "glyphicon glyphicon-pencil" }) |
            @Html.ActionLink(" ", "DeleteFile", new { fileid = item.ID, projectId = Model.projectId }, new { @class = "glyphicon glyphicon-trash" })
           <!-- new { onclick = "return confirm('Are you sure you wish to delete this file?');"} )-->

        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to list of projects", "Index", "User")
</p>