@model goatCode.Models.ViewModels.ProjectIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2><br />Files</h2>
<p>
    @Html.ActionLink("Create a new file", "Create", new { ProjectId = Model.projectId })
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.files) {
    <tr>
        <td>
            @(Html.DisplayFor(modelItem => item.name) + "." + Html.DisplayFor(modelItem => item.extension))
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { FileId = item.ID }) |
<<<<<<< HEAD
            @Html.ActionLink("DownloadFile", "DownloadFile", new { fileId = item.ID }) |
=======
            @Html.ActionLink("Update FileName", "UpdateFileName", new { fileid = item.ID, projectId = Model.projectId }) |
>>>>>>> 2267507397a3668f40acf1f6ec1d4da83121b128
            @Html.ActionLink("Delete", "DeleteFile", new { fileid = item.ID, projectId = Model.projectId },
    new { onclick = "return confirm('Are you sure you wish to delete this file?');"} )
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to list of projects", "Index", "User")
</p>