@model IEnumerable<goatCode.Models.Entities.Project>

@{
    ViewBag.Title = "Projects";
}

<h2><br />Projects</h2>

<p>
    @Html.ActionLink("Create a new project", "Create", new { @class = "btn btn-success" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            Projects you own
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>    
            <a href="@Url.Action("Index", "Projects", new { projectId=item.ID })">
                @Html.Raw(item.name)
            </a>
        </td>
        <td></td>
        <td align="right">
            @Html.ActionLink(" ", "Edit", new { projectId=item.ID }, new { @title = "Edit", @class = "glyphicon glyphicon-edit" }) | <!--N-->
            @Html.ActionLink(" ", "ShareProjects", new { ProjectId = item.ID }, new { @title = "Share project", @class = "glyphicon glyphicon-link" }) |<!--Y-->
            @Html.ActionLink(" ", "Delete", new { projectId = item.ID }, new { onclick = "return confirm('Are you sure you wish to delete this file?');", @class = "glyphicon glyphicon-trash" }) |
            @Html.ActionLink(" ", "DownloadProjectAsZip", new { projectId = item.ID }, new { @class = "glyphicon glyphicon-download-alt" })
            <!--    new { onclick = "return confirm('Are you sure you wish to delete this file?');" }) | -->
       
        </td>
    </tr>
}
    <tr>
        <th>
            Projects shared with you
        </th>
        <th>Project owner</th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.NotOwned)
    {
        <tr>
            <td>
                <a href="@Url.Action("Index", "Projects", new { projectId=item.ID })">
                    @Html.Raw(item.name)
                </a>
            </td>
            <td>
                @Html.Raw(item.projectOwner)
            </td>
            <td align="right">
                @Html.ActionLink(" ", "Edit", new { projectId = item.ID }, new { @class = "glyphicon glyphicon-pencil" }) | <!--N-->
                @Html.ActionLink(" ", "ShareProjects", new { ProjectId = item.ID }, new { @class = "glyphicon glyphicon-link" }) | <!--Y-->
                @Html.ActionLink(" ", "Delete", new { projectId = item.ID }, new { onclick = "return confirm('Are you sure you wish to delete this file?');", @class = "glyphicon glyphicon-trash" }) |
                @Html.ActionLink(" ", "DownloadProjectAsZip", new { projectId = item.ID }, new { @class = "glyphicon glyphicon-download-alt" })<!--Y-->

            </td>
        </tr>
    }

</table>

